.product-card{
    background-color: white;
    border: 1px solid #bacdd8;
    padding: 8px;
    border-radius: 12px;
    width: 300px;
    min-height: 600px;
    display: inline-grid;
    margin: 10px;
}