.site-header{
  position: relative;
  z-index: 2;
  display: flex;
  padding: 0 var(--gap);
  margin: 0 0 var(--gap);
  --fleck-seed: 35458;
  --fleck-count: 500;
  --fleck-size-base: 1px;
  --fleck-color-1: #262626;
  background-color: #fff159;
  background-image: paint(fleck);
  border-bottom: 1px solid #676767;
}

.site-header .logo, .site-header .logo>a {
  display: flex;
  align-items: center;
}

.site-header .logo {
    transition: 0s;
    flex: 0;
    position: relative;
    align-self: stretch;
}

.site-header .header-middle-area {
  flex: 1;
  width: 100%;
}

.site-header .main-nav>ul {
  display: flex;
  height: 100%;
  align-items: center;
}

.site-header .logo, .site-header .logo>a {
  display: flex;
  align-items: center;
}

.site-header .logoImg{
  height: 35px;
}

nav ol, nav ul {
  list-style: none;
  list-style-image: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.site-header .main-nav>ul>li>a {
  font-family: MD Primer Bold,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-weight: 500;
  font-size: .8rem;
  height: 100%;
  color: #262626;
  padding: 1.2rem 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.search-and-account {
  position: fixed;
  z-index: 15;
  right: var(--gap);
  align-items: center;
}

.search-and-account a {
  margin-left: .5rem;
  align-items: center;
}

.search-img{
  height: 50px;
}