.form-field {
    height: 80px;
    text-align: center;
}

.product-form {
    padding: 50px;
    background-color: beige;
}

.imgSection {
    align-content: center;
    text-align: center;
}

.imgPreview {
    max-width: 200px;
    max-height: 200px;
}